body
{
    background-color: rgb(244, 247, 249);
    color: brown;
}
.product
{
  width: 200px;
  height: 250px;
  margin: 10px;
  padding: 10px;
  border: 1px solid rgb(10, 58, 102);
  border-radius: 15px;
  color:rgb(5, 28, 39);
  background-color:rgb(141, 176, 229);
}
.product:hover{
    box-shadow: 3px 3px 5px rgb(9, 67, 96);
}